body{
    background: rgb(195, 184, 255);
}
.header{
    text-align: center;
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    display: grid;
    grid-template-columns: 20px 140px 140px 140px 140px 140px;
    grid-column-gap: 150px;
}
.broklogo{
    position: absolute;
    width: 57px;
    height: 18px;
    left: 85px;
    top: 48px;
    
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 12px;
    
    color: #000000;
}

.pf{
    position: absolute;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 15px;
    left: 1450px;
    background: #ffffff;
}
.logo{
    height: 80px;
    width: 80px;
}
.shadow{
    height: 40px;
    width: 140px;
    border-radius: 30px;
}
.shadow:hover{
    background-color: rgb(205, 196, 255);
    box-shadow:
    1px 1px #9553ea,
    2px 2px #9553ea,
    3px 3px #9553ea,
    4px 4px #9553ea,
    5px 5px #9553ea,
    6px 6px #9553ea,
    7px 7px #9553ea;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
a{
    text-decoration: none;
}