body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   
}

.card {
    width: 400px;
    margin: 30px auto;

    background-color: azure;
    box-shadow: 0 0px 100px rgb(160, 160, 160);
    border-radius: 20px;
    padding: 20px;
}
.avatar{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 90px;
}
.card-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(107, 38, 185);
}
.card-text{
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-subtitle{
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(56, 43, 70);
}
.exp-list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-left: 0;
    list-style-position: inside;
}

